.app {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 150px;
}

.error {
  color: red;
  font-weight: bold;
}

.weather-info {
  margin-top: 20px;
  color: rgb(11, 10, 10);
}
.app {
  text-align: center;
  margin-top: 250px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 8px; /* Adds rounded corners */
}
