body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('C:\Users\aruna\REACT\weather-app\public\assets\clouds.jpg'); 
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the background image */
  background-attachment: fixed; /* Makes the background image fixed while scrolling */
  color: white; /* Changes the text color to white for better contrast */
}

.app {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

input, button {
  margin: 10px;
}
h1, h2, p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a slight shadow to make text more readable */
}
